.side-nav {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    // margin-bottom: 2rem;
    ul {
        list-style-type: none;
        padding-inline-start: 30px;
        padding-top: 65px;
        .nav-item {
            color: #6a7596;
            height: 70px;
            i {
                color: #6a7596;
                padding-inline-end: 10px;
                font-size: 20px;
            }
            &:hover {
                color: #3d85cf;
                cursor: pointer;
                i {
                    color: #3d85cf;
                }
            }
        }
        .active {
            color: #3d85cf;
            font-family: "Frutiger LT Pro 65 Bold";
            i {
                color: #3d85cf;
            }
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                right: 0;
                border-radius: 50%;
                background-color: #0087cc;
                z-index: 10;
                top: 6px;
            }
            &::after {
                content: "";
                position: absolute;
                width: 55px;
                height: 55px;
                right: -26px;
                border-radius: 50%;
                background-color: #e9f0f8;
                top: -15px;
            }
            .indicator {
                position: absolute;
                right: 0;
                &::before {
                    content: "";
                    position: absolute;
                    top: -31.5px;
                    right: 0px;
                    border-right: 1px solid white;
                    border-bottom: 1px solid white;
                    background: white;
                    border-top: none;
                    width: 15.5px;
                    height: 19px;
                    border-bottom-right-radius: 32px;
                    box-shadow: 3px 7px 0px 3px #e9f0f8;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 36.5px;
                    right: 0px;
                    border-right: 1px solid white;
                    border-bottom: 1px solid white;
                    background: white;
                    border-top: none;
                    width: 15.5px;
                    height: 19px;
                    border-bottom-right-radius: 32px;
                    box-shadow: 3px 7px 0px 3px #e9f0f8;
                    transform: scaleY(-1);
                }
            }
        }
    }
    .need-help {
        background-image: url(../../../../assets/images/need-help.png);
        background-repeat: no-repeat;
        height: 200px;
        background-size: 100% 235px;
        margin-bottom: 0rem;
        text-align: center;
        padding-top: 60px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-image: url(../../../../assets/images/need-help-qus.png);
            width: 125px;
            height: 100px;
            left: 67px;
            top: -35px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .title {
            font: normal normal bold 20px/24px "Frutiger LT Pro 65 Bold";
            color: #ffffff;
        }
        .desc {
            font-size: 12px;
            margin-top: 10px;
            color: #ffffff;
            opacity: 80%;
            line-height: 15px;
        }
        .discover {
            margin-top: 20px;
            button {
                background-color: #f8b319;
                box-shadow: 0px 10px 15px #00000033;
                border-radius: 15px;
                color: #ffffff;
                width: 132px;
                height: 40px;
                border: 0;
                cursor: pointer;
            }
        }
    }
}

.tab {
    position: relative;
}

.tab:before {
    content: "";
    position: absolute;
    top: -13px;
    left: 84px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: none;
    background: white;
    width: 10.5px;
    height: 10px;
    border-bottom-right-radius: 180px;
    box-shadow: 3px 3px 0px 3px #e9f0f8;
}

.tab:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 84px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: none;
    background: white;
    width: 10.5px;
    height: 10px;
    border-bottom-right-radius: 180px;
    box-shadow: 3px 3px 0px 3px #e9f0f8;
}
