@font-face {
    font-family: "Frutiger LT Pro 65 Bold";
    src: url(LinotypeFrutigerLTProBold.otf);
 }
@font-face {
    font-family: "Frutiger LT Pro 55 Roman";
    src: url(LinotypeFrutigerLTProRoman.otf);
 }
@font-face {
    font-family: "Janna LT Bold";
    src: url(JannaLTBold.ttf);
 }
