<div class="box-white">
    <div class="title">
        Trip Route
    </div>
    <div class="trip-route-container">
        <div class="trip-route-form">
            <div class="form-title">
                Trip Route <span class="i-titel title-tip title-tip-up"
                    title="You can Add Points by clicking the add button, then to submit click the check button. You can also Delete any point by clicking on it, then click the trash button.">i</span>
            </div>
            <div class="desc">
                Draw Trip Route by Adding Start point, Way points, and End point
            </div>
            <hr>
            <form>
                <div class="d-flex">
                    <div class="flex-1">
                        <label>Trip name</label>
                        <input type="text" value="Trip 2">
                    </div>
                    <div class="flex-1">
                        <label>Sector</label>
                        <div class="select-dropdown">
                            <select>
                                <option value="Option 1">Marina</option>
                                <option value="Option 2">2nd Option</option>
                                <option value="Option 3">Option Number 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="auto-generate">
                    <div class="auto-generate-title">
                        Auto Generate <span class="i-titel title-tip title-tip-up"
                    title="You can Generate the Default Sector Route">i</span>
                    </div>
                    <div class="auto-generate-button">
                        <span><img src="../../../assets/images/auto-generate.png"></span>
                    </div>
                    
                </div>
                <hr>
                <div class="d-flex">
                    <div class="flex-1 form-add-box">
                        <p>Add <br>Start Point</p>
                        <div class="plus-box">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    <div class="flex-1 form-add-box">
                        <p>Add <br>Start Point</p>
                        <div class="plus-box yellow">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    <div class="flex-1 form-add-box">
                        <p>Add <br>Start Point</p>
                        <div class="plus-box red">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex form-buttons">
                    <div class="flex-1">
                        <button class="secondary-button">Cancel</button>
                    </div>
                    <div class="flex-1">
                        <button class="primary-button">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>