
<div class="home-container">
    <p class="title font-bold-900">Welcome! John Doe</p>
    <div class="first-section">
        <div class="flex-1">
            <app-vpark-fleet></app-vpark-fleet>
        </div>
        <div class="flex-1">
            <app-dashboard></app-dashboard>
        </div>
    </div>
    <div class="view-in-snap d-flex">
        <div class="description">
            <div class="title">
                Get a bird’s eye <span>view</span> in a snap.
            </div>
            <div class="sub-title">
                We equip you with the tools to customise your dashboards and track fleet status,<br>
                 decorations, and violations at a glance.
            </div>
        </div>
        <div class="setting-image">
            <img src="../../../assets/images/setting-image.png" alt="">
        </div>
    </div>
    <app-trip-route></app-trip-route>
</div>